body {
  background-color: rgba(21, 59, 116, 0.8);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navigation */

.grid1 {
  background-color: rgba(25, 25, 27, 0.8);
  display: flex;
  position: sticky;
  width: 100vw;
  top: 0;
  color: white;
  z-index: 100;
  justify-content: space-between; /* Adjust space between elements */
  align-items: center; /* Center vertically */
  padding: 10px 20px; /* Add padding for spacing */
}

ul {
  display: flex;
  align-items: center; /* Center items vertically within ul */
  list-style: none;
  /* padding-right: 100px; */
  margin: 0;
}

.greeting ul li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px; /* Add padding to the greeting for spacing */
  font-size: medium;
  color: white;
}
.phone-menu {
  display: none;
}
.menu ul li {
  margin: 0 15px; /* Space between menu items */
}

a {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.menu ul li a:hover {
  color: #121111;
  font-size: x-large; /* Optional hover effect */
}

section {
  padding-left: 10vw;
  padding-top: 13vh;
}

.intro {
  font-size: x-large;
}

.about {
  font-size: xx-large;
}

.about span {
  font-weight: bolder;
  font-size: xx-large;
  color: rgb(255, 255, 255);
}

.sw {
  font-size: x-large;
  color: rgba(225, 199, 199, 0.736);
  font-style: italic;
}

.resume {
  padding: 12px;
  font-size: 1rem;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.resume a {
  color: black;
}
img {
  padding-left: 30px;
}
/* Paragraph */
p {
  margin: 10px 0;
}
.desc {
  color: rgb(205, 221, 238);
  width: 70%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}
.aboutme {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: rgb(255, 255, 255);
  width: 70%;
}
@media (max-width: 500px) {
  .menu {
    display: none;
  }
  .phone-menu {
    display: inline;
  }
  body {
    font-size: medium;
  }
  .grid1 {
    padding: 0px;
  }
  .grid1 ul {
    flex-direction: column;
  }

  .grid1 li {
    padding: 10px 0;
  }

  ul {
    padding-left: 0;
  }

  li {
    padding: left 0;
  }
}
